# PlatformIO / Build output
.pio/
.pioenvs/
.piolibdeps/
*.log

# OS / Editor generated
.DS_Store
.vscode/
.idea/
*.swp
*.tmp

# Third-party references
T-Deck/
T-Deck-Pro/

# Local binary builds
*.bin
